.btn{
    background-color: gold!important;
    color: #191c1f;
    font-weight: bold;
    height: 45px;
    border-radius: .3rem;
    font-size: 14pt;
}

.btn:hover {
    color: white;
}
.a-box {
    display: block;
    border-radius: 4px;
    border: 1px gold solid;
    background-color: #000000;
    max-width: 720px;
    margin: 16px auto auto;
}
.a-box .a-box-inner {
    border-radius: 4px;
    position: relative;
    padding: 14px 18px;
}
.a-spacing-extra-large {
    margin-bottom: 26px !important;
}
button:focus{

    color: black!important;
    box-shadow: none!important;
}