.fa-search.wd-search-icon{

    color: white;
    font-size: 18px;
    margin-left: -30px;

}
.wd-link {
    color: inherit;
    text-decoration: inherit;
}
.wd-film-icon {
    font-size: 25px;
    color: gold;
}
.wd-grey{
    color:dimgrey;
}
.nav-tabs.wd-nav-tab-override{
    border-bottom: none !important;
}
.wd-gold{
    color: gold;
}
.wd-white{
    color: white;
}
.wd-title{
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
}
a:hover{
    color: lightgrey!important;
    text-decoration: none!important;
}
.wd-bg-button{
    background-color: gold;
    border-style: none;
    border-radius: 3px;
}
.wd-browse-button{
    background-color: #373b3e;
    color: cornflowerblue;
    border-style: none;
    border-radius: 3px;
}
.wd-poster{
    width: 130px;
    height: 180px;
    margin: 8px;
}
.wd-section-left{
    float: left;
}
.wd-right{
    float: right;
}
.wd-movie{
    width: 130px;
    text-align: center;
    font-weight: bold;
}
.wd-item{
    width: 150px;
}
.btn{
    background-color: gold!important;
    color: black;
}

.wd-slide-container{


    position: relative;

    white-space: nowrap;
    overflow: auto;
}

#slide-list
{
    margin-top: 5px;
    width:1200px;
}


#slide-list li{
    display: inline-block;
}
.wd-web-title{
    text-align: -webkit-center;
}
.wd-signin{
    text-align: -webkit-right;
}
.nav-link:hover{
    color: white!important;
}